version: "3.7"

services:
  bot:
    build:
      dockerfile: Dockerfile-bot
      context: .
    container_name: instaimg_bot
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
    - ./secrets.py:/opt/bot/secrets.py
    restart: always
    depends_on:
      - mongo

  web:
    build:
      dockerfile: Dockerfile-web
      context: .
    container_name: instaimg_web
    environment:
      - PYTHONUNBUFFERED=1
    ports:
      - "80:80"
    volumes:
    - ./secrets.py:/opt/web/secrets.py
    restart: always
    depends_on:
      - mongo

  mongo:
    image: mongo:4.4.3-bionic
    environment:
      MONGO_INITDB_DATABASE: instaimg
    volumes:
      - mongodata:/data/db
    restart: always

volumes:
  mongodata: