{% extends 'index.html' %} {% block title %}Control panel{% endblock %} {% block content %}
<div id="app">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <form class="login" @submit.prevent="login">
        <h1>Sign in</h1>
        <input class="fadeIn" required v-model="username" type="text" placeholder="login" id="login" />
        <input class="fadeIn" required v-model="password" type="password" placeholder="password" id="password" />
        <input type="submit" class="fadeIn" value="Log In" />
      </form>
    </div>
  </div>
</div>

<script>
  var app = new Vue({
    el: "#app",
    delimiters: ["[[", "]]"],
    data: {
      username: "",
      password: "",
    },
    methods: {
      login() {
        axios
          .post("/api/token", { username: this.username, password: this.password })
          .then((response) => {
            window.location.href = "/";
          })
          .catch((error) => console.log(error));
      },
    },
  });
</script>
{% endblock %}
